
div {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.bgCol {
  background-color: #7d8997;
  border-radius: 5px;
  min-height: 500px;
  height: auto;
}

.filterBtn {
  margin-right: 10px;
}